.heading{
    text-align: center;
    background-color: rgba(255, 255, 255, 0.911);
    box-shadow: 0 0 5px;
    height:200px;
}
.heading h1{
    margin: 0;
}
.parent-body{
    text-align: center;
    margin-top: 15px;
}
.body{
    width: 90%;
    margin: auto;
    text-align: center;
    display: grid;
    grid-template-columns: 4fr 1fr;
}
.profile-card{
    width: 100%;
    margin:auto;
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-gap: 40px;
}
